*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
nav{
    background-color: darkgoldenrod;
    /* height: 50px; */
    width: 100%;
    margin-bottom: 50px;
    position: fixed;
    justify-content: center;
}
.logo{
    width: 110px;
    height: 35px;
    background-color: black;
    line-height: 50px;
    margin: 10px;
    border-radius: 15px;
    justify-content: center;
}
nav span{
    float: right;
    font-size: 2.3em;
    line-height: 50px;
    cursor: pointer;
    display: none;
    margin: 0 20px;
    justify-content: center;
}
@media only screen and (max-width:700px){
    nav span{
        display: block;
    }
    nav ul li a{
        display: block;
        width: 100%;
        background-attachment: rgba,(184, 134, 11, 0.1);
    }
    nav ul{
        display: none;
    }
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 50px;
    margin: 0 5px;
}
nav ul li a{
    color: darkgoldenrod;
    background-color: black;
    font-size: 20px;
    padding: 7px 13px;
    border-radius: 20px;
    text-transform: uppercase;
}
nav ul li a:hover{
    background-color: darkgoldenrod;
    color: black;
    transition: .5s;
}

#bimg{
    margin-top: -5px;
    height: 550px;
    width: 100%;
    margin-bottom: -5px;
}

.phead{
    text-align: center;
    font-size: 40px;
    font-style: italic;
    padding-top: 40px;
    color: darkgoldenrod;
}
#images{
    background-color: black;
    background-size: cover;
    color: darkgoldenrod;
}
div .images{
    width: 200px;
    height: 250px;
    display: inline-block;
    margin-left: 50px;
    margin-top: 25px;
}
div .images img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    box-shadow: 2px 2px 2px 2px darkgoldenrod;
    text-align: center;
}
p{
    text-align: center;
    font-size: 15px;
    padding-top: 10px;
    color: darkgoldenrod;
}
hr{
    border-color: darkgoldenrod;
}
a{
    color: darkgoldenrod;
    list-style: none;
    text-decoration: none;
}
